/* GENERAL ELEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
html {
    height: 100%;
    padding: 0;
  }

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/mainBackground.png");
    background-size: cover;
    font-family: 'Allerta Stencil';
    font-size: 14px;
}



h1 {
    text-transform: uppercase;
    font-size: 3em;
    text-align: center;
}

h2 {
    text-align:center;
}


/* ELEMENTS FROM SPLASHSCREEN */
.splashScreen {
    width: 600px;
    margin: 15px auto;
    border: 10px solid black;
    padding: 0px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    transition: all 2s ease-in-out;
    transform: scaleY(0.95);
}

.splashScreen h1 {
    padding: 20px;
    margin: 0px;
}

.characterChoice {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.instructions {
    padding: 10px 200px;
}

.instructions div {
    padding-top: 0px;
    margin: 0px;
}

.instructions h2 {
    margin-bottom: 10px;
}

.start {
    margin: 25px auto;
    padding: 0px;
}

#startBtn {
    border: 5px solid black;
    padding: 30px;
    font-size: 2.5em;
    font-family: 'Allerta Stencil';
}

#characterImages {
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 0px 35px;
    margin: 0px;
}

#characterImages button {
    background-size: contain;
    height: 90px;
    width: 70px;
    border:10px solid #ABF5E9;
    border-radius: 10px;
    
}

#characterImages button:hover {
    box-shadow: 5px 10px grey;
}

#characterImages button:focus {
    box-shadow: 5px 10px black;
}

#player1 {
    background: url("../images/girlFront.png"), #ABF5E9;
 
}

#player2 {
    background: url("../images/boyFront.png"),#ABF5E9;
   
}

/* ELEMENTS FROM GAMESCREEN */
.sceneCanvas {
    
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;  
}

.gameScreen h1 {
    padding-top: 10px;
    font-size: 3em;
    color: white;
    text-align: center;
}

.gameScreen {
    display: flex;
    flex-direction: column;
    align-content: center;
    transition: all 2s ease-in-out;
}

/* ELEMENTS FROM GAMEOVERSCREEN */
.gameOverScreen {
    width: 70%;
    margin: 200px auto;
    padding: 60px 15px;
    background-color: white;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.gameOverScreen h1 {
    padding: 1px;
    font-size: 3em;
}

.gameOver {
    text-align: center;
}

.gameOver h1 {
    font-size: 2em;
}

#scoreBar {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#finalScore {
    flex-grow: 0.8;
    text-align: center;
    border: 3px solid black;
}

#reStartBtn {
    padding: 5px 15px;
    font-size: 1.5em;
    font-family: "Allerta Stencil";
    border: 3px solid black;
}


#reStartBtn:hover {
    box-shadow: 5px 10px grey;
}

#reStartBtn:focus {
    box-shadow: 5px 10px black;
}

#copyright {
    margin-top: 10px;
    padding: 0px;
    color:grey;
}

.gameScreen #copyright {
    padding-top: 40px;
    padding-bottom: 20px;
    color:white;
    text-align: center;
}

.instructions div {
    display:flex;
    width: 450px;
    justify-content:space-between;
    align-content: center;
}





