/* GENERAL ELEMENTS */

@import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&display=swap');
html {
    height: 100%;
    padding: 0;
  }
  body {
    min-height: 100%;
  }

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/mainBackground.png");
    background-size: cover;
    font-family: 'Allerta Stencil';
}

h1 {
    text-transform: uppercase;
    font-size: 4em;
    text-align: center;
}


/* ELEMENTS FROM SPLASHSCREEN */
.splashScreen {
    width: 70%;
    margin: 200px auto;
    border: 10px solid black;
    padding: 60px 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.characterChoice {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.chooseName {
    padding-top: 25px; 
}

.instructions {
    padding-top: 30px;
}

.start {
    padding-top: 30px;
}

#startBtn {
    border: 5px solid black;
    padding: 30px;
    font-size: 2.5em;
    font-family: 'Allerta Stencil';
}

#characterImages {
    display: flex;
    justify-content:space-between;
    align-content: center;
    padding: 0px 25px;
}

#characterImages button {
    background-size: contain;
    height: 134px;
    width: 100px;
    padding:1px;
    border:10px solid #FAAA8C;
    border-radius: 10px;
    
}

#characterImages button:focus {
    box-shadow: 5px 10px;
   
}

#player1 {
    background: url("../images/girlFront.png"), #FAAA8C;
 
}

#player2 {
    background: url("../images/boyFront.png"),#FAAA8C;
   
}

/* ELEMENTS FROM GAMESCREEN */
.sceneCanvas {
    width: 70%;
    margin: 100px auto;
    /* padding: 60px 15px; */
    /* background-color: white; */
    /* border: 10px solid black; */
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap;  
}


.gameScreen h1 {
    padding-top: 70px;
    font-size: 5em;
}

/* ELEMENTS FROM GAMEOVERSCREEN */
.gameOverScreen {
    width: 70%;
    margin: 200px auto;
    padding: 60px 15px;
    background-color: white;
    border: 10px solid black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    flex-wrap: wrap; 
}

.gameOver {
    text-align: center;
}

#scoreBar {
    width: 70%;
    margin: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#finalScore {
    background-color: yellow;
    flex-grow: 0.8;
    text-align: center;
    border: 3px solid black;
}

#reStartBtn {
    padding: 5px 15px;
    font-size: 1.5em;
}






